<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/pop.css"/>
</head>
<body>
    
    {{!-- Pop-up adicionar tarefa, lista as listas existentes dentro de um select --}}
     <div class="form-popup" id="formActivity">
        <form action="/activity" class="form-container" method="POST">
            <h1>Adicionar Tarefa</h1>

            <label for="list"><b>Adicionar em: </b></label>
             <select name="list">
                {{#each list}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select> 

            <input type="text" placeholder="Atividade" name="activity">

            <button type="submit" class="btn">Adicionar</button>
        </form>
        <button class="btn cancel" onclick="closeForm()">Close</button>
    </div> 

    {{!-- Pop-up para tranferir tarefa entre listas --}}
     <div class="form-popup" id="formTransfer">
        <form action="/transfer" class="form-container" method="POST">
            <h1 id="transferPop"></h1>

            <label for="list"><b>Transferir para: </b></label>
             <select name="list">
                {{#each list}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select> 
            <button type="submit" class="btn">Confirmar</button>
        </form>
        <button class="btn cancel" onclick="closeForm()">Cancelar</button>
    </div> 


    {{!-- Pop-up para criar atividades, não verifica se a tarefa a ser criada já esxiste, talvez deveria --}}
     <div class="form-popup" id="formList">
        <form action="/list" class="form-container" method="POST">
            <h1>Adicionar Lista</h1>
            <input type="text" placeholder="Lista" name="list">

            <button type="submit" class="btn">Adicionar</button>
        </form>
        <button class="btn cancel" onclick="closeForm()">Close</button>
    </div> 

    {{!-- menu com botoes para adicionar tarefas e listas --}}
    <menu>
        <button id="createActivity" onclick="openFormActivity()">Adicionar Atividade</button>
        <button id="createList" onclick="openFormList()">Adicionar Lista</button>
    </menu>

    <div id="ListContainer">
        
        {{!-- adiciona div's com titulos que se referem as listas presentes no banco (name) --}}
        {{#each list}}
        <div id="{{name}}" class="item flex-item-1">
            <h1 id="{{name}}">{{name}}</h1>
            {{!-- adiciona '<p>' para cada atividade presente nas listas --}}
            {{#activities}}
            <p>{{this}}<button onclick="openFormTransfer('{{this}}')" ><img src="/icon.svg"></button></p>
            {{/activities}}
        </div>
        {{/each}}
    </div>


    {{!-- script javascript, separar em documento posteriormente ?? --}}
    <script>
        function openFormActivity() {
            closeForm()
            document.getElementById("formActivity").style.display = "inline-block";
            document.getElementById("formActivity").style.textAlign = "center";
        }
        function openFormList() {
            closeForm()
            document.getElementById("formList").style.display = "inline-block";
            document.getElementById("formList").style.textAlign = "center";
        }


        function openFormTransfer(name){
            closeForm()
            document.getElementById("transferPop").innerHTML = name;
            document.getElementById("formTransfer").style.display = "inline-block";
            document.getElementById("formTransfer").style.textAlign = "center";
        }

        function closeForm() {
           document.getElementById("formActivity").style.display = "none";
           document.getElementById("formTransfer").style.display = "none";
           document.getElementById("formList").style.display = "none";
        } 
    </script>
</body>
</html>